/* Main Styles */
main {
    padding: 50px 0;
  }

  .subtitles {
    color: black;
    font-size: 1.2em;
    text-align: center;
  }

  .head h2{
    font-size: 3em;
    font-weight: bold; 
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .about-us {
    text-align: center;
    /* font-weight: 500; */
  }
  
  .about-us p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;

  }
  
  .contact-button.learn-more {
    background-color: transparent; 
    border: 2px solid black; 
    color: black; 
    padding: 15px 20px; 
    font-size: 1.2em; 
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 80px;
    text-decoration: none;
  }
  
  .contact-button.learn-more:hover {
    background-color: #f76c1b; /* Change background color on hover */
  }
  
  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 500;
  }
  
  .content p {
    font-size: 1.1em;
    line-height: 1.5;
  }
