/* body.css */

/* .future-of-care {
    position: relative;
    padding-left: 20px; /* Add padding to the left of the text */
    /* margin-top: 80px;
}

.future-of-care::before {
    content: "\2022"; /* Use Unicode character for bullet point */
    /* color: #f76c1b; /* Color of the bullet point */
    /* font-weight: bold; Bold font weight */
    /* font-size: 20px; Adjust size of the bullet point */
    /* position: absolute; Position the bullet point relative to the text */
    /* left: 0; Align the bullet point to the left of the text */
    /* top: 50%; Align the bullet point vertically in the middle */
    /* transform: translateY(-50%); Adjust for vertical alignment */
/* }  */

.dot-image {
    width: 10px; /* Adjust width to make the dot image small */
    height: auto; /* Maintain aspect ratio */
}

.title {
    /* font-size: 10.5em; */
    font-weight: bolder; /* Make the text more bold */
    font-style: consolas; /* Adjust the font style */
    margin: 20px 0;
}

.body-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 20px 0;
    text-align: center;
}

.subtitle {
    color: black;
    font-size: 1.2em;
    margin-top: 70px;
    /* margin-right: 10px; */
}

.title {
    font-size: 2.5em;
    margin: 20px 0;
}

.description {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 5px;
    /* margin-top: 30px; */
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 20px 0;
}

.ambulance-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.doctor-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: auto; /* Align the doctor image to the right */
}


.button-container {
    margin: 20px 0;
}

.contact-button {
    background-color: white; /* Set button background color */
    border: 2px solid black; /* Add black border */
    color: black; /* Set button text color */
    padding: 15px 30px; /* Add padding to the button */
    font-size: 1.2em; /* Adjust button font size */
    /* font-weight: bold; Make button text bold */
    border-radius: 30px; /* Apply border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
    margin-bottom: 60px;
}

.contact-button:hover {
    background-color: #f76c1b; /* Change background color on hover */
}


