.dot-image {
    width: 10px; 
    height: auto; 
}

.title {
    font-family: sans-serif;
    line-height: 0.8;
    font-weight:500;
    margin: 20px 0;
    font-size :large;
}

.text{
    font-size:35px;
}

.body-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 20px 0;
    text-align: center;
}

.subtitle {
    color: black;
    font-size: 1.2em;
    margin-top: 70px;

}

.description {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 5px;
    line-height: 1.5;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 20px 0;
}

.ambulance-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.doctor-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: auto; 
}

.button-container {
    margin: 15px 0;
    background-color: transparent; 

}

.contact-button {
    /* background-color: transparent;  */
    border: 2px solid black; 
    color: black; 
    padding: 15px 20px; 
    font-size: 1.2em; 
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 80px;
}

.contact-button:hover {
    background-color: #f76c1b; 
}