* {
  margin: 0; /* Reset margin */
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white; 
  
}

.container {
  padding: 0px; /* Reduce the padding */
  
}

.solar-energy-container {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f1f1f1; /* Light gray container background */
  border-radius: 25px;
  width: 100%; /* Increase the width of the gray box */
  margin: 50px auto;
}

.custom-class {
  width: 2.5rem;
  height: 2.5rem;
  background-color: navy;
  border-radius: 15rem; /* Adjust as needed */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}


.text-content {
  flex: 1;
  margin-right: 20px;
}

.text-content h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 500;
}

.text-content p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.learn-more-button {
  background-color: transparent; 
  border: 2px solid black; 
  color: black; 
  padding: 15px 20px; 
  font-size: 1.2em; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-bottom: 20px;
  text-decoration: none;
}

.learn-more-button:hover {
  background-color: #f76c1b;
}

.arrows {
  margin-top: 20px;
  font-size: 2em;
}

.arrows span {
  margin-right: 10px;
  cursor: pointer;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
