* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white; 
}

.solar-energy-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f1f1f1; /* Light gray container background */
  border-radius: 25px;
  max-width: 1200px;
  margin: 50px auto;
}

.text-content {
  flex: 1;
  margin-right: 20px;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.text-content p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.learn-more-button {
  background-color: transparent; 
  border: 2px solid black; 
  color: black; 
  padding: 15px 20px; 
  font-size: 1.2em; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-bottom: 20px;
  text-decoration: none;
}

.learn-more-button:hover {
  background-color: #f76c1b;
}

.arrows {
  margin-top: 20px;
  font-size: 2em;
}

.arrows span {
  margin-right: 10px;
  cursor: pointer;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
